@model Auction.Application.BrandServices.UpdateBrandViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.BrandName Düzenle</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="BrandName" class="control-label"></label>
                        <input asp-for="BrandName" class="form-control" />
                        <span asp-validation-for="BrandName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandUrlName" class="control-label"></label>
                        <input asp-for="BrandUrlName" class="form-control" />
                        <span asp-validation-for="BrandUrlName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SubCategoryId" class="control-label"></label>
                        <select asp-for="SubCategoryId" asp-items="ViewBag.subCategoryDDL" class="form-control"></select>
                        <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                    </div>

                    <input asp-for="Id" type="hidden" />
                    <input asp-for="ModifiedById" type="hidden" />
                    <input asp-for="CreatedById" type="hidden" />
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-default btn-flat btn-xs">Listeye dön</a>
                        <input type="submit" value="Güncelle" class="btn btn-xs btn-flat btn-success" style="float:right"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
