@model Auction.Application.ProductServices.CreateProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Ürün</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductYear" class="control-label"></label>
                <input asp-for="ProductYear" class="form-control" />
                <span asp-validation-for="ProductYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductKm" class="control-label"></label>
                <input asp-for="ProductKm" class="form-control" />
                <span asp-validation-for="ProductKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductMinPrice" class="control-label"></label>
                <input asp-for="ProductMinPrice" class="form-control" />
                <span asp-validation-for="ProductMinPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductGearType" class="control-label"></label>
                <input asp-for="ProductGearType" class="form-control" />
                <span asp-validation-for="ProductGearType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductFuelType" class="control-label"></label>
                <input asp-for="ProductFuelType" class="form-control" />
                <span asp-validation-for="ProductFuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageUrl" class="control-label"></label>
                <input asp-for="ProductImageUrl" class="form-control" />
                <span asp-validation-for="ProductImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDetail" class="control-label"></label>
                <input asp-for="ProductDetail" class="form-control" />
                <span asp-validation-for="ProductDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductBrandId" class="control-label"></label>
                <select asp-for="ProductBrandId" asp-items="ViewBag.brandDDL" class="form-control"></select>
                <span asp-validation-for="ProductBrandId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductCityId" class="control-label"></label>
                <select asp-for="ProductCityId" asp-items="ViewBag.cityDDL" class="form-control"></select>
                <span asp-validation-for="ProductCityId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-sm btn-flat btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
