
@model Auction.Application.Shared.FilterViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box-body">
    <form asp-area="Product" asp-controller="Product" asp-action="GetByFilter">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-4">
                        <label asp-for="CategoryName" class="control-label"></label>
                        <select id="CategoryId" onchange="CategorySelect();" asp-for="CategoryId" class="form-control select2" asp-items="ViewBag.Category">
                            <option selected disabled>Ürün Seçiniz</option>
                        </select>
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-4 col-sm-4">
                        <label asp-for="SubCategoryName" class="control-label"></label>
                        <select id="SubCategoryId" onchange="SubCategorySelect();" asp-for="SubCategoryId" class="form-control select2"></select>
                        <span asp-validation-for="SubCategoryName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-4 col-sm-4">
                        <label asp-for="BrandName" class="control-label"></label>
                        <select id="ProductBrandId" asp-for="ProductBrandId" class="form-control select2"></select>
                        <span asp-validation-for="BrandName" class="text-danger"></span>
                    </div>

                </div>
                <br />

                <div class="form-group">
                    <div>
                        <input type="submit" value="Ara" class="btn btn-md btn-flat btn-success center-block" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function CategorySelect() {
        var jsonData, jsonstr, subCategory;
        var categoryId = $("#CategoryId").val();
        $("#SubCategoryId").children().remove().end().append("<option selected disabled>Category Seç</option>");
        $("#ProductBrandId").children().remove().end().append("<option selected disabled>Brand Seç</option>");


        jsonString = JSON.stringify({
            id: categoryId
        });

        $.ajax({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            type: "POST",
            url: "/Home/GetSubCategory",
            'processData': false,
            data: jsonString,
            success: function (data) {
                jsonstr = JSON.stringify(data);
                jsonData = JSON.parse(jsonstr);
                console.log(jsonData.result[0].id);
                for (var i = 0; i < jsonData.result.length; i++) {
                    $("#SubCategoryId").append("<option value='" + jsonData.result[i].id + "'>" + jsonData.result[i].subCategoryName + "</option>");
                }
            }
        });
    }

    function SubCategorySelect() {
        var jsonData, jsonstr, subCategory;
        var subCategoryId = $("#SubCategoryId").val();
        $("#ProductBrandId").children().remove().end().append("<option selected disabled>Brand Seç</option>");

        jsonString = JSON.stringify({
            id: subCategoryId,
        });

        $.ajax({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            type: "POST",
            url: "/Home/GetBrand",
            'processData': false,
            data: jsonString,
            success: function (data) {
                jsonstr = JSON.stringify(data);
                jsonData = JSON.parse(jsonstr);
                console.log(data);
                for (var i = 0; i < jsonData.result.length; i++) {
                    $("#ProductBrandId").append("<option value='" + jsonData.result[i].id + "'>" + jsonData.result[i].brandName + "</option>");
                }
                
            }
        });
    }

</script>
@await Component.InvokeAsync("GetProductsByFilter",Model)

