
@{
    ViewData["Title"] = "UnknownError";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1><b>Oops!</b> Bir hata oluştu!</h1>
        </div>
        <br />
        <a asp-action="Index" asp-controller="Admin" class="btn btn-warning">Geri Git</a>
    </div>
</div>