@model Auction.Application.SubCategoryServices.Dtos.CreateSubCategoryViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Alt Catogori</h2>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Yeni Alt Catogori</h3>
    </div>
    <div class="box-body">
        <form asp-action="Create">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="SubCategoryName" class="control-label"></label>
                        <input asp-for="SubCategoryName" class="form-control" />
                        <span asp-validation-for="SubCategoryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="SubCategoryUrlName" class="control-label"></label>
                        <input asp-for="SubCategoryUrlName" class="form-control" />
                        <span asp-validation-for="SubCategoryUrlName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" asp-items="ViewBag.CategoryDDL" class="form-control"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <input asp-for="CreatedById" type="hidden" />
                    <div class="form-group">
                        <input type="submit" value="Kaydet" class="btn btn-sm btn-flat btn-success" />
                    </div>
                </div>
            </div>
            <div>
                <a asp-action="Index">Listye dön</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
